.settings-modal {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.settings-modal.show {
    opacity: 1;
    visibility: visible;
}

.settings-container {
    width: 1000px;
    height: 600px;
    background-image: url("../resources/settings.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    display: flex;
    transform: scale(0.8);
    transition: transform 0.3s ease-in-out;
}

.settings-modal.show .settings-container {
    transform: scale(1);
}

.settings-logo {
    opacity: 1;
    left: 10px;
}

.settings-logo, .settings-close {
    top: 10px;
    width: 35px;
    height: 35px;
    z-index: 1001;
    position: absolute;
}

.settings-sidebar, .settings-content {
    width: 300px;
    height: 100%;
    padding-top: 70px;
}

.settings-content {
    width: 700px;
}

.settings-close {
    right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    background-image: url('https://cdn-icons-png.flaticon.com/128/889/889578.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.3s ease;
}

.settings-close:hover {
    transform: scaleX(1.1);
}

@media screen and (max-width: 768px) {
    .settings-container {
        width: 100%;
        height: 100%;
        flex-direction: column;
        border-radius: 0;
    }

    .settings-sidebar {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .settings-content {
        width: 100%;
        height: auto;
        flex: 1;
        padding: 10px;
        overflow-y: auto;
    }

    .settings-close:hover {
        transform: none;
    }
}